* {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}
.social {
  font-size: 18px;
}
.glyphicon {
  font-size: 18px;
}
.header__row1 {
  background-color: #1D2330;
}
.header__row2 {
  background-color: #242837;
  padding: 30px 0;
}
.navbar {
  margin: 0;
  border: none;
  border-radius: initial;
  outline: none;
}
.navbar-center {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #1D2330;
  min-width: 160px;
  z-index: 1;
}
.dropdown:hover .dropdown-content {
  display: block;
}
