@import '../utilities/_mixins';

.bg {
  &--darkblue {
    background-color: @dark-blue;
  }
}

.bg {
  &--blue {
    background-color: @blue;
    padding: 30px 0;
  }

  &--red {
    background-color: red;
  }
}

.navbar {
  margin: 0;
  border: none;
  border-radius: initial;
  outline: none;

  &--center {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    @media (max-width: 992px) {
      position: relative;
      left: 0;
      transform: translateX(0);
    }
  }

  &-right {
    @media (max-width: 992px) {
        align-self: flex-end;
    }
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: @dark-blue;
  min-width: 160px;
  z-index: 1;
}

.dropdown {
  &:hover {
    .dropdown-content {
      display: block;
    }
  }
}

.glyphicon-user {
  margin-right: 10px;
}

.category {
  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    //animation: none;
    .small-screens( {
      display: none;
      padding-top: 104px;
    });

    //@media (max-width: 992px) {
    //  display: none;
    //  padding-top: 104px;
    //}
  }

  &__icon {
    width: 40px;
    height: 40px;
    text-align: center;
  }

  &__item {
    display: inline-block;
    height: 100%;
    text-align: center;

    &:hover a {
      opacity: .5;
      display: block;
      transition: opacity .15s linear, color .15s linear, border-color .15s linear, background-color .15s linear;
    }

    & + & {
      margin-left: 60px;

      @media (max-width: 992px) {
        margin: 10px 0;
      }
    }


    &__text {
      font-family: 'Roboto Condensed', sans-serif;
      font-weight: bold;
      font-size: 19px;
      padding: 11px 0 0 0;
      display: block;
    }
  }

  a {
    text-decoration: none;
    color: #fff;
  }
}

.menu-section {
  position: relative;
  background-color: @blue;
  min-height: 74px;
  height: 100%;
  text-align: center;
}

.menu__button {
  .button();

  display: none;
  padding: 15px 30px;
  margin: 10px 0;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);

  @media (max-width: 992px) {
      display: block;
    }

  &:hover {
    background-color: @dark-blue;
  }

  &:active {
    transition: none;
  }
}

.show {
  display: block;
}


.flex-item {
  @media (max-width: 992px) {
    align-self: center;
  }
}

.social {
  @media (max-width: 992px) {
    display: none;
  }
}

.form-control {
   width: 300px;
}

.modal-header {
  color: gray;
}